# Solutions: Working with Product Data in Pandas

## Solution 1: Isolating Columns

In [1]:
# Solution: Isolate the 'ProductName' column from the DataFrame and display the first 5 entries.
import pandas as pd
df = pd.read_csv('product_data.csv')
df['ProductName'].head()

0    Product_1
1    Product_2
2    Product_3
3    Product_4
4    Product_5
Name: ProductName, dtype: object

## Solution 2: Filtering Data

In [7]:
# Solution: Filter the DataFrame to show only products in the 'Electronics' category with a price greater than $20.
df_electronics = df[(df['Category'] == 'Electronics') & (df['Price'] > 20)]
df_electronics.head()

    ProductID ProductName     Category   Price  Stock
18         19  Product_19  Electronics   59.89     69
23         24  Product_24  Electronics  283.82     19
24         25  Product_25  Electronics  349.28     48
33         34  Product_34  Electronics  314.06     72
38         39  Product_39  Electronics  211.17     89

In [10]:
df_electronics = df[df['Category'] == 'Electronics']
df_electronics = df_electronics[df_electronics['Price'] > 20]
df_electronics.head()

    ProductID ProductName     Category   Price  Stock
18         19  Product_19  Electronics   59.89     69
23         24  Product_24  Electronics  283.82     19
24         25  Product_25  Electronics  349.28     48
33         34  Product_34  Electronics  314.06     72
38         39  Product_39  Electronics  211.17     89

## Solution 3: Calculating Summary Statistics

In [11]:
# Solution: Calculate the mean price of products in the 'Hardware' category.
mean_hardware_price = df[df['Category'] == 'Hardware']['Price'].mean()
mean_hardware_price

255.38250000000002

In [15]:
hardware_product = df[df['Category'] == 'Hardware']
mean_hardware = hardware_product['Price'].mean()
mean_hardware

255.38250000000002

## Solution 4: Grouping Data

In [13]:
# Solution: Group the DataFrame by 'Category' and calculate the total stock quantity for each category.
category_stock = df.groupby('Category')['Stock'].sum()
category_stock

Category
Books          1072
Clothing        867
Electronics     998
Hardware        687
Home           1158
Name: Stock, dtype: int64

In [16]:
quantity_hardware = hardware_product['Stock'].sum()
quantity_hardware

687

## Solution 5: Sorting Data

In [14]:
# Solution: Sort the DataFrame by 'Price' in descending order and display the top 5 most expensive products.
top_expensive_products = df.sort_values(by='Price', ascending=False).head(5)
top_expensive_products

    ProductID ProductName  Category   Price  Stock
65         66  Product_66     Books  498.88     86
82         83  Product_83      Home  491.79     61
67         68  Product_68  Clothing  488.42     30
11         12  Product_12  Hardware  486.00     16
29         30  Product_30     Books  471.71     54