# Data Cleaning using pandas

In this tutorial, we will explore data cleaning techniques using pandas. This is a crucial step in data preprocessing for data analysis and machine learning.

## Step 1: Checking for Missing Data
We will first check if our dataset contains any missing values using the `.isnull().sum()` function.

In [6]:
import pandas as pd
df = pd.read_csv("diabetes.csv")
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               5
SkinThickness               0
Insulin                     2
BMI                         0
DiabetesPedigreeFunction    1
Age                         0
Outcome                     0
dtype: int64

## Step 2: Dropping Missing Values
If there are missing values, one common technique is to drop them using `.dropna()`. Below, we drop rows with missing values.

In [8]:
df_cleaned = df.copy()
df_cleaned = df_cleaned.dropna()
print(df.shape)
print(df_cleaned.shape)

(768, 9)
(761, 9)

## Step 3: Filling Missing Values
Instead of dropping missing values, we can also replace them with summary statistics like the mean.

In [15]:
# Filling missing values in the 'Pregnancies' column with its mean
df_filled = df.copy()
mean_value = df_filled['BloodPressure'].mean()
df_filled.fillna({'BloodPressure': mean_value}, inplace=True)
print(df_filled['BloodPressure'].isnull().sum())
print(df['BloodPressure'].isnull().sum())

0
5

## Step 4: Dealing with Duplicate Data
We can use `.drop_duplicates()` to remove duplicate rows from our DataFrame.

In [16]:
df_dedup = df.drop_duplicates()
df_dedup.shape

(768, 9)

## Step 5: Renaming Columns
You can rename specific columns using the `.rename()` method.

In [17]:
df_renamed = df.rename(columns={'DiabetesPedigreeFunction': 'DPF'})
df_renamed.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DPF,Age,Outcome
0,6,148,NaN,35,NaN,33.6,0.627,50,1
1,1,85,NaN,29,0.0,26.6,0.351,31,0
2,8,183,64.0,0,0.0,23.3,0.672,32,1
3,1,89,66.0,23,94.0,28.1,0.167,21,0
4,0,137,40.0,35,168.0,43.1,2.288,33,1

## Step 6: Summary Statistics
We can compute summary statistics such as mean, median, and mode using pandas.

In [18]:
df.mean(), df.median(), df.mode()

(Pregnancies                   3.845052
 Glucose                     120.894531
 BloodPressure                69.073394
 SkinThickness                20.536458
 Insulin                      79.892950
 BMI                          31.992578
 DiabetesPedigreeFunction      0.471904
 Age                          33.240885
 Outcome                       0.348958
 dtype: float64,
 Pregnancies                   3.000
 Glucose                     117.000
 BloodPressure                72.000
 SkinThickness                23.000
 Insulin                      30.500
 BMI                          32.000
 DiabetesPedigreeFunction      0.371
 Age                          29.000
 Outcome                       0.000
 dtype: float64,
    Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
 0          1.0       99           70.0            0.0      0.0  32.0
 1          NaN      100            NaN            NaN      NaN   NaN

    DiabetesPedigreeFunction   Age  Outcome
 0                     0.254  22.0      0.0
 1                     0.258   NaN      NaN  )

## Step 7: Creating New Columns
New columns can be derived from existing ones, for example, calculating the ratio of glucose to insulin.

In [19]:
df['Glucose_Insulin_Ratio'] = df['Glucose'] / df['Insulin']
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Glucose_Insulin_Ratio
0,6,148,NaN,35,NaN,33.6,0.627,50,1,NaN
1,1,85,NaN,29,0.0,26.6,0.351,31,0,inf
2,8,183,64.0,0,0.0,23.3,0.672,32,1,inf
3,1,89,66.0,23,94.0,28.1,0.167,21,0,0.946809
4,0,137,40.0,35,168.0,43.1,2.288,33,1,0.815476

## Step 8: Counting Categories
We can use `.value_counts()` to count the number of occurrences of categorical values.

In [20]:
df['Outcome'].value_counts()

Outcome
0    500
1    268
Name: count, dtype: int64

## Step 9: Aggregating Data using groupby
Finally, we can use `.groupby()` to aggregate data and compute summary statistics by groups.

In [21]:
df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Glucose_Insulin_Ratio
Outcome,,,,,,,,,
0,3.298000,109.980000,68.148594,19.664000,68.792000,30.304200,0.429734,31.190000,inf
1,4.865672,141.257463,70.811321,22.164179,100.759398,35.142537,0.550873,37.067164,inf