# Data Cleaning Exercises

These exercises will help you practice cleaning and analyzing data using pandas.

## Exercise 1: Checking for Missing Data
Check if there are any missing values in the dataset. Write code to check how many missing values there are in each column.

In [ ]:
# Use .isnull().sum() to check for missing values

## Exercise 2: Dropping Missing Values
Drop any rows with missing values from the dataset.

In [ ]:
# Use .dropna() to drop rows with missing values

## Exercise 3: Replacing Missing Values
Replace any missing values in the "Quantity" column with the mean of that column.

In [ ]:
# Use .fillna() to replace missing values with the mean of "Quantity"

## Exercise 4: Removing Duplicates
Remove any duplicate rows from the dataset.

In [ ]:
# Use .drop_duplicates() to remove duplicate rows

## Exercise 5: Renaming Columns
Rename the "ProductCategory" column to "Category".

In [ ]:
# Use .rename() to rename the "ProductCategory" column

## Exercise 6: Summary Statistics
Calculate the mean, median, and mode for the "Price" column.

In [ ]:
# Use .mean(), .median(), and .mode() to calculate summary statistics for "Price"

## Exercise 7: Creating New Columns
Create a new column called "TotalCost" which is the sum of "Price" and "ShippingCost".

In [ ]:
# Use simple arithmetic to create a new column "TotalCost"

## Exercise 8: Counting Categories
Count the number of orders for each "Category".

In [ ]:
# Use .value_counts() to count the occurrences of each category in "ProductCategory"

## Exercise 9: Aggregating Data
Group the data by "DeliveredOnTime" and calculate the average "Price" for each group.

In [ ]:
# Use .groupby() to group by "DeliveredOnTime" and calculate the mean of "Price"