# Introduction to Pandas

**Pandas** is a data manipulation package in Python used for handling tabular data, such as data in rows and columns, which is commonly referred to as DataFrames. You can think of a DataFrame as a powerful version of an Excel sheet.

Pandas allows you to perform various data transformations like sorting, filtering, reshaping, and aggregating data. It integrates well with other Python data science packages such as NumPy, Matplotlib, Seaborn, Plotly, and scikit-learn.

## Key Benefits of Pandas

1. **Made for Python**: Python is a leading language for data science.
2. **Less Verbose**: Pandas requires fewer lines of code to perform complex operations.
3. **Intuitive Data View**: It offers an easy-to-understand representation of data.
4. **Extensive Feature Set**: Pandas supports a wide range of data analysis tasks.
5. **Handles Large Data**: It can efficiently work with large datasets.

## Installing Pandas

You can install Pandas using the `pip` command:

```bash
pip install pandas
```

In [ ]:
# Installing Pandas (Run this in your terminal, not in the notebook)
# pip install pandas

## Importing Pandas

To use Pandas, first import it into your Python environment. The common alias for Pandas is `pd`.

```python
import pandas as pd
```

In [1]:
import pandas as pd

## Importing Data in Pandas

### Importing CSV Files

Use `read_csv()` to read a CSV file into a Pandas DataFrame.

```python
df = pd.read_csv("diabetes.csv")
```

In [2]:
# Example: Importing a CSV file
df = pd.read_csv("diabetes.csv")

In [4]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

### Importing Text Files

Reading text files is similar to CSV files, but you need to specify the separator using the `sep` argument.

```python
df = pd.read_csv("diabetes.txt", sep="\s")
```

In [ ]:
# Example: Importing a Text file with space as a separator
df = pd.read_csv("diabetes.txt", sep="\s")

### Importing Excel Files (Single Sheet)

To read Excel files, use the `read_excel()` function.

```python
df = pd.read_excel('diabetes.xlsx')
```

In [6]:
# Example: Importing an Excel file
df = pd.read_excel('diabetes.xlsx')

In [7]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

### Importing Excel Files (Multiple Sheets)

To read an Excel file with multiple sheets, specify the `sheet_name` argument.

```python
df = pd.read_excel('diabetes_multi.xlsx', sheet_name=1)
```

In [ ]:
# Example: Importing the second sheet from an Excel file
df = pd.read_excel('diabetes_multi.xlsx', sheet_name=1)

### Importing JSON Files

Use `read_json()` to import a JSON file into a DataFrame.

```python
df = pd.read_json("diabetes.json")
```

In [8]:
# Example: Importing a JSON file
df = pd.read_json("diabetes.json")

In [10]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

## Outputting Data in Pandas

Just as Pandas can import data from various file types, it also allows you to export data into various formats.

### Outputting a DataFrame into a CSV File

Save a DataFrame as a CSV file using the `to_csv()` method.

```python
df.to_csv("diabetes_out.csv", index=False)
```

In [12]:
# Example: Outputting a DataFrame to a CSV file
df.to_csv("diabetes_out.csv", index=False)

### Outputting a DataFrame into a JSON File

Export a DataFrame to a JSON file using the `to_json()` method.

```python
df.to_json("diabetes_out.json")
```

In [ ]:
# Example: Outputting a DataFrame to a JSON file
df.to_json("diabetes_out.json")

### Outputting a DataFrame into a Text File

Similar to exporting CSV files, use `to_csv()` to save a DataFrame as a text file, specifying the separator using the `sep` argument.

```python
df.to_csv('diabetes_out.txt', header=df.columns, index=None, sep=' ')
```

In [11]:
# Example: Outputting a DataFrame to a text file
df.to_csv('diabetes_out.txt', header=df.columns, index=None, sep=' ')